section.p-section
  .u-container
    .u-row.p-sell.u-mb--8.u-mb-xs--2
      .u-col--4.u-fade.u-anime
        .p-sell-item
          h2.p-sell-item__head ペーパーレス
          .p-sell-item__img: img(src=path+"assets/img/sell/point--1.png" alt="ペーパレス")
          p.p-sell-item__msg
            | オンラインで契約を締結できるので、印刷もファイリングも不要です。
            | すべての契約データがクラウド上で一括管理されるので、抜け漏れや紛失も防げて検索もカンタン！
      .u-col--4.u-fade.u-anime
        .p-sell-item
          h2.p-sell-item__head 時間短縮
          .p-sell-item__img: img(src=path+"assets/img/sell/point--2.png" alt="時間短縮")
          p.p-sell-item__msg
            | 電子契約なら、押印や郵送処理が不要になりスピーディに契約締結！<br>
            | 契約の進捗は関係者間で共有されるので、業務が可視化され連絡や引継ぎもスムーズになります。

      .u-col--4.u-fade.u-anime
        .p-sell-item
          h2.p-sell-item__head コスト削減
          .p-sell-item__img: img(src=path+"assets/img/sell/point--3.png" alt="コスト削減")
          p.p-sell-item__msg
            | 紙面での契約手続きと違い、電子契約は契約が締結するまでにかかる様々なコストが削減できます。<br>
            | 印刷・郵送不要で、関連の人的作業が減り業務効率化につながります。

.u-container.u-mb--8#func
  +head('機能紹介')
  .p-lead.u-text-center.u-fade.u-anime.u-mb--8.u-mb-xs--0
    | 当電子契約サービスは、雇用に関わる<br>
    | <span class="u-strong">契約すべてをオンライン上で締結できるサービス</span>です。<br>
    | 専用の管理画面を利用して、<br class="u-visible-xs"><span class="u-strong">場所を選ばず業務を遂行できます。</span>

  ul.p-functions.u-mt-xs--4
    li.p-functions-item.u-mb--8.u-mb-xs--3
      .u-row.mod-align-center
        .u-col--6.u-fade.u-anime
          img(src=path+"assets/img/functions/point--1.png" alt="" class="u-hidden-xs")
          img(src=path+"assets/img/functions/point-sp--1.png" alt="" class="u-visible-xs")
        .u-col--6.u-fade.u-anime.mod-delay-1
          .p-functions-item__detail
            h3.u-strong.u-fs--30.u-fs-xs--24 面接から契約締結までワンストップ！
            p
              | 動画面接サービス『Apply Now』と連動してご利用いただくことで、求人の掲示、選考から雇用契約締結までの流れをワンストップで完結できます。<br>
              | 動画面接なら書類と顔写真のみの履歴書と違い、応募者の雰囲気まで把握できるため、短時間で精度の高いマッチングが可能です。<br>
              | 迅速なレスポンスは求職者の待機時間が短縮されるため、良い人材の採用チャンスも逃しません。

    li.p-functions-item.u-mb--8.u-mb-xs--3
      .u-row.mod-align-center.mod-reverse
        .u-col--6.u-fade.u-anime
          img(src=path+"assets/img/functions/point--2.png" alt="" class="u-hidden-xs")
          img(src=path+"assets/img/functions/point-sp--2.png" alt="" class="u-visible-xs")
        .u-col--6.u-fade.u-anime.mod-delay-1
          .p-functions-item__detail
            h3.u-strong.u-fs--30.u-fs-xs--24 契約書も一括管理で<br class="u-visible-xs">らくらく！
            p
              | 管理画面では募集案件（プロジェクト）ごとに応募情報が管理され、権限を持つ関係者間で情報を共有することができます。<br>
              | 画面上にステータスが表示されるため、内定者の契約進行状況が情報が可視化され、業務効率化を実現。<br>
              | 契約書とあわせ、給与の振込先情報やマイナンバーなどの情報も一括で収集・クラウド管理できるので、担当者の負担が軽減され、省人化につながります。

    li.p-functions-item.u-mb--8
      .u-row.mod-align-center
        .u-col--6.u-fade.u-anime
          img(src=path+"assets/img/functions/point--3.png" alt="" class="u-hidden-xs")
          img(src=path+"assets/img/functions/point-sp--3.png" alt="" class="u-visible-xs")

        .u-col--6.u-fade.u-anime.mod-delay-1
          .p-functions-item__detail
            h3.u-strong.u-fs--30.u-fs-xs--24 ボタン一つでかんたんに<br class="u-visible-xs">契約成立！
            p
              | 通常、契約の締結には押印・郵送・受け取りなどのさまざまな作業が発生しますが、電子契約サービスでは、面倒な社内手続きをすることなくボタン一つで契約を締結できます。<br>
              | ログインさえできれば、場所を選ぶことなくどこからでも確認や承認ができるため、移動中や待ち時間を利用しての業務進行が可能に。<br>
              | 時短とコスト削減を実現することで、現場のサービス改善に尽力する時間が確保できるようになるため、企業の生産性が向上します。

