section.p-section.mod-merit#merits
  .p-merit
    .u-container
      +head('導入メリット','mod-white')
      p.p-lead.u-text-center.u-mb--8.u-fade.u-anime
        | <span class="u-fs--28">電子契約は収入印紙不要</span>の上、<br class="u-visible-xs"><span class="u-fs--28">紙面契約と同様の証拠力</span>が<br class="u-visible-xs">認められています。<br>
        | また、データはクラウドで一括管理。<br class="u-visible-xs">保管スペース・コストが不要。<br>
        | <span class="u-fs--28">経費の大幅削減が実現</span>できます。

      .p-merit-box.u-mb--4.u-fade.u-anime
        h2.p-merit-box__head 紙面契約と電子契約の違い
        .p-merit-box__body
          .u-hidden-xs
            .table
              .table__row
                .table__col.mod-head
                .table__col.mod-paper: span 紙面契約
                .table__col.mod-digital: span.u-strong 電子契約

              .table__row
                .table__col.mod-head: span 形式
                .table__col.mod-paper: span 紙
                .table__col.mod-digital: span 電子データ<br>（PDF）

              .table__row
                .table__col.mod-head: span 押印
                .table__col.mod-paper: span 印鑑
                .table__col.mod-digital: span 電子署名

              .table__row.mod-attention
                .table__col.mod-head: span 収入<br class="u-visible-xs">印紙
                .table__col.mod-paper: span 必要
                .table__col.mod-digital: span 不要
                .table-attend.u-fade.u-anime.mod-delay-1.u-hidden-xs
                  .table-attend_inner
                    p.u-text-center
                      | 電子契約は、<br>
                      | 収入印紙が不要。<br>
                      | 経費削減が実現。

              .table__row
                .table__col.mod-head: span 送付
                .table__col.mod-paper: span 郵送
                .table__col.mod-digital: span メール

              .table__row
                .table__col.mod-head: span 保管
                .table__col.mod-paper: span 書棚・倉庫
                .table__col.mod-digital: span クラウド

              .table__row.mod-attention
                .table__col.mod-head: span 証拠力
                .table__col.mod-paper: span あり
                .table__col.mod-digital: span あり
                .table-attend.mod-4em.u-fade.u-anime.mod-delay-1.u-hidden-xs
                  .table-attend_inner
                    p.u-text-center 電子契約は、<br>紙面契約と同様の<br>証拠力が認められて<br>います。
          .u-visible-xs
            img(src=path+"assets/img/merit/table--sp.png" alt="")
          .attend.u-mt-xs--3.u-visible-xs
            .attend-item.u-mb-xs--2
              .attend-item_inner
                p 電子契約は、<br>収入印紙が不要。<br>経費削減が実現。

            .attend-item
              .attend-item_inner
                p 電子契約は、<br>紙面契約と同様の<br>証拠力が認められ<br class="u-visible-xs">て<br class="u-hidden-xs">います。

      .p-merit-box.u-mb--10.u-fade.u-anime
        h2.p-merit-box__head 紙面契約との<br class="u-visible-xs">ワークフローの比較
        .p-merit-box__body
          p.p-lead.u-text-center.u-mb--5
            | 電子書籍は印紙税の課税対象外の上、契約締結完了までクラウドで一括管理。<br>
            | また、データはクラウドで管理・保管されるため、保管スペース・コストも不要。<br>
            | <span class="u-strong">経費の大幅削減が実現</span>できます。

          .p-merit-box__detail
            .p-merit-box__detail__main
              img(src=path+"assets/img/merit/main.png" alt="" class="u-hidden-xs")
              img(src=path+"assets/img/merit/main--sp.png" alt="" class="u-visible-xs")
            .p-merit-box__detail__attend.u-fade.u-anime.mod-delay-1.u-hidden-xs
              img(src=path+"assets/img/merit/attend.png" alt="")

          .attend.u-mt-xs--3.u-visible-xs
            .attend-item.u-mb-xs--2
              .attend-item_inner
                p 電子契約は、<br>ペーパーレスで<br>経費削減・<br>効率化！
                img(src=path+"assets/img/merit/attend--sp.png").attend-item_inner_img

